@import "~bootstrap/scss/bootstrap.scss";

.bigCounter{
    background: black;
  text-align: center;
}
.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
}
